$reservation-form-bg-color: #f2f2f2;
$reservation-form-title-color: #333;
$reservation-form-label-color: #888;
$reservation-form-label-focus-color: #66afe9;
$reservation-form-input-border-color: #ddd;
$reservation-form-input-focus-border-color: #66afe9;
$reservation-form-btn-bg-color: #66afe9;
$reservation-form-btn-color: #fff;
$reservation-form-btn-hover-bg-color: #5cb3e8;

.reservation-form {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 90%;
  max-width: 600px;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: slide-in 1s;

  @media (max-width:450px) {
    padding:25px
  }
}

@keyframes slide-in {
from {
    opacity:0;
    transform:translateY(-50px)
}
to {
    opacity:1;
    transform:translateY(0)
}
}

.form-title {
font-size:2.5rem;
color: rgb(228, 222, 222);
text-align:center;
margin-bottom:50px;

@media (max-width:450px) {
    font-size:2rem;
    margin-bottom:25px
}
}

.form-group {
position:relative;
margin-bottom:40px;

input,
textarea {
    display:block;
    width:100%;
    border:2px solid $reservation-form-input-border-color;
    border-radius:5px;
    padding:10px;
    font-size:16px;
    color:white;
    background-color:transparent;
    transition:all .3s ease;

&:focus {
      outline:none;
      border-color:$reservation-form-input-focus-border-color;
      box-shadow:none
}

&:focus+.form-label {
      color:$reservation-form-label-focus-color;
      transform:translate(-10px,-35px) scale(.8)
}

&:valid+.form-label {
      color:$reservation-form-label-focus-color;
      transform:translate(-10px,-35px) scale(.8)
}
}

.form-label {
position:absolute;
top:10px;left:
10px;color:white;font-size:
16px;transition:
all .3s ease;pointer-events:none
}
}

textarea {
height:auto
}

.submit-btn {
display:block;margin:auto;padding:.625rem .9375rem;font-size:.875rem;font-weight:bold;color:$reservation-form-btn-color;background-color:$reservation-form-btn-bg-color;border:none;border-radius:
5px;transition:
all .3s ease;

&:hover {
background-color:$reservation-form-btn-hover-bg-color
}
}
