.app__contact {
  flex: 1;
  width: 100%;

  // background-image: url('../../assets/bgCon.jpeg');
  background: linear-gradient(to bottom, #230368, hsl(270, 100%, 18%),  #230368);
}

.contact__wrapper {

  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @media (max-width:450px) {
    flex-direction: column;
  }
}

.contact__left {
  margin: 5rem 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width:450px) {
    margin-bottom: 0;
  }
}

.contact__right {
  flex: 1;
}