:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:  #242424;
  background-color:  rgba(41, 40, 40, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #98a0ad;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
