.app__hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;

}

.hero__head {
  position: relative;
  width: 100%;
  
  .head__black {
    background-color: black;
    height: 110px;
  }
  .hero__bg {
    display: block;
    object-fit: cover;
    margin-bottom: 0;
    filter: brightness(0.3) ;
    width: 100%;
    height: auto;
  }
}

.head__image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  justify-content: center;

  @media screen and (max-width: 450px) {
    position: relative;
    transform: translate(0, 0);
    color: white;
    left: 0;
    padding: 1rem 1rem;;
    background:linear-gradient(to bottom, #202020, #adacac, #202020);;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    @media screen and (max-width: 450px) {
      font-size: 1rem;
      vertical-align: middle;
    }
  }

  .head__experience {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    @media screen and (max-width: 450px) {
      margin: 0.5rem 0;
    }

    p {
      font-size: 2rem;
      @media screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }
  }
}

.hero__meet {
  flex-direction: column;
  color: white;
  padding: 2rem 1rem;
  bottom: 0;

  h1 {
    span {
    color: #e6d709;
    text-transform: uppercase;
    }
  }

  @media screen and (max-width: 450px) {
    position: relative;

  }

  h1 {
    @media screen and (max-width: 450px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.meet__wrapper {
  display: flex;
  max-width: 1140px;

  @media screen and (max-width:450px) {
    flex-direction: column;;
  }
}

.meet__container {
  width: 300px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;

  
  @media screen and (max-width:450px) {
    margin-top: 2rem;
  }

  span {
    font-size: 1.2rem;
    color: #e6d709;
    font-weight: 800;

  }

  div {
    width: 200px;
    height: 200px;
    border: 3px solid #e6d709;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transition: all 0.5s;
    margin-top: 1rem;

    @media screen and (max-width:450px) {
      margin-top: 1rem;
    }

    &:hover {
      transform: scale(1.7);
      
    }
  }
}

.airport {
  background-image: url('../../assets/airport.jpg');
}

.terminal {
  background-image: url('../../assets/dtermial.jpg');
}

.busStation {
  background-image: url('../../assets/tln_busStation.jpg');
}



.hero__info {
  width: 100%;
  background:linear-gradient(to bottom, #202020, #043797, #28467c, );

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;

  @media screen and (max-width:450px) {
    flex-direction: column;
    gap: 2rem;
  }

    h2 {
      color: white;
      text-transform: uppercase;
    }

    p {
      color: white;
    }

    a {
      text-decoration: none;
    }
}

.info-icons {
  color: white;
  font-size: 40px;
  margin-right: 1rem;
}

.info__link-phone:hover,
.info__link-phone:hover * {
  color: rgb(8, 173, 8);
}

.info__link-addres:hover,
.info__link-addres:hover * {
  color: red;
}

.info__button {
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #202020;
  transition: all ease-in-out 0.3s;
  
  &:hover {
    background-color: #7c7c7c;
    color: white;

  }
}


